.sidebar {
    width: 250px;
    height: 100vh;
    background: #1B2131;
    color: #888;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.logo img {
    height: 40px;
    object-fit: contain;
}

.logo span {
    color: #F09819;
    /* Orange */
}

.searchBox {
    background: #252B3B;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.searchInput {
    background: transparent;
    border: none;
    color: #ccc;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menuItem {
    padding: 0.8rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #888;
    transition: all 0.2s;
}

.menuItem:hover,
.active {
    background: #252B3B;
    /* Slightly lighter */
    color: white;
}

.icon {
    font-size: 1.1rem;
}